body {
    font-family: Arial, sans-serif;
    direction: rtl;
    text-align: right;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.input-section {
    margin-bottom: 20px;
}

#taskInput {
    padding: 10px;
    width: 70%;
    font-size: 16px;
}

#addButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#addButton:hover {
    background-color: #45a049;
}

#taskList {
    list-style-type: none;
    padding: 0;
}
#taskList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.taskCheckbox {
    margin-left: 10px;
}

.deleteButton {
    padding: 5px 10px;
    background-color: #ff4444;
    color: white;
    border: none;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #cc0000;
}

#taskList li span {
    flex-grow: 1;
    margin: 0 10px;
}
.completed {
    text-decoration: line-through;
    color: #888;
}
.editButton {
    padding: 5px 10px;
    background-color: #2196F3; /* آبی */
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 5px; /* فاصله از دکمه حذف */
}

.editButton:hover {
    background-color: #1976D2;
}
.editInput {
    padding: 5px;
    font-size: 16px;
    flex-grow: 1;
    margin: 0 10px;
}

.saveButton {
    padding: 5px 10px;
    background-color: #4CAF50; /* سبز */
    color: white;
    border: none;
    cursor: pointer;
}

.saveButton:hover {
    background-color: #45a049;
}
#taskCategory {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
}
.editCategory {
    padding: 5px;
    font-size: 16px;
    margin: 0 10px;
}